DISCORD_TOKEN=""

MONGO_URI=""

BOT_AUTHOR_NAME="Invisigal"
BOT_AUTHOR_IMG_URL="https://src.run/get/media/images/dispatch/visi-large-white-bg-with-border.png"
BOT_TIMEZONE="America/New_York"

SCHEDULE_SHOW_SUBMIT_CHANNEL="{"day":1,"hour":0,"minute":0}"
SCHEDULE_HIDE_SUBMIT_CHANNEL="{"day":21,"hour":23,"minute":50}"
SCHEDULE_SEND_VOTING_FORUM="{"day":21,"hour":23,"minute":51}"
SCHEDULE_SHOW_VOTING_FORUM="{"day":22,"hour":0,"minute":0}"
SCHEDULE_HIDE_VOTING_FORUM="{"day":28,"hour":23,"minute":50}"
SCHEDULE_ANNC_WINNER="{"day":29,"hour":0,"minute":0}"
SCHEDULE_ENDS_EVENTS="{"day":29,"hour":23,"minute":59}"

DEBUG_MODE="False"