discord.py

#MongoDB
motor

#Image processing
Pillow
#For advanced resizing
pyvips

#Scheduling
apscheduler

# Date and Time Handling
python-dateutil

# Settings Handling
python-dotenv
pydantic-settings

# Files and Parsing
aiofiles
json
